<h2>
  Relying on Index
</h2>
{{keyboard-navigable-list contentArray=contentArray objectKey="name"}}
<h2>
  Relying on Id
</h2>
{{keyboard-navigable-list contentArray=objContentArray objectKey="name" activeItem=objContentArray.0.id}}

{{outlet}}
