<h2>
  No links - simple JavaScript Objects
</h2>
{{keyboard-navigable-list
  contentArray=contentArray
  objectKey="name"
  afterLastItem=(action parentMethodForBottomOfList)
  sendItem=(action parentMethodForChange)}}
<h2>
  With link-to
</h2>
{{keyboard-navigable-list
  contentArray=objContentArray
  objectKey="alt"
  linkDirection="people.show"
  afterLastItem=(action parentMethodForBottomOfList)
  sendItem=(action parentMethodForChange)}}
<h2>
  Just an Array of Strings
</h2>
{{keyboard-navigable-list
  contentArray=stringContentArray
  afterLastItem=(action parentMethodForBottomOfList)
  sendItem=(action parentMethodForChange)}}

{{outlet}}
